body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

header {
  background: rgb(51,189,132);
background: linear-gradient(322deg, rgba(51,189,132,1) 0%, rgba(187,219,98,1) 100%);
}
nav ul {
    list-style: none;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(16, 81, 88);
}

.right-links a {
    padding-left: 40px;
    display: inline-flex;
    font-size: 18px;
}

.left-links a {
    font-size: 24px;
}

.information {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.left-info-text {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    width: 50%;
    font-size: 18px;
    color: rgb(16, 81, 88);
}

button {
    width: max-content;
    background-color: rgb(222, 117, 136);
    color: rgb(16, 81, 88);
    border-radius: 4px;
    border: solid rgb(16, 81, 88) 1px;
    padding: 8px 16px;
    font-size: 18px;
    }

.right-info-picture img {
    width: 500px;
    border-radius: 4px;
}

.title {
    text-align: center;
    margin: 32px;
    font-size: 36px;
    font-weight: 900;
    color: rgb(16, 81, 88);
}

.regions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 auto;
    padding: 100px;
    row-gap: 32px;
    column-gap: 32px;
    font-size: 18px;
    color: rgb(16, 81, 88);
}

.regions img {
    width: 100%;
    border-radius: 4px;
    row-gap: 32px;
}

.heartlands, .east, .atlantic, .dublin {
    max-width: 250px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
  }

  .text {
    padding: 16px;
  }

  .quote {
    background: rgb(223,118,135);
    background: linear-gradient(322deg, rgba(223,118,135,1) 0%, rgba(253,177,49,1) 100%);
    color: rgb(16, 81, 88);
    padding: 100px;
  }

  .quote i {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 100;
  }

  .signature {
    font-weight: 800;
    text-align: end;
    font-size: 24px;
  }

  .sign-up {
    background: rgb(51,189,132);
background: linear-gradient(322deg, rgba(51,189,132,1) 0%, rgba(187,219,98,1) 100%);
    color: rgb(16, 81, 88);
    border-radius: 4px;
    padding: 40px;
    display: grid;
    max-width: 800px;
    margin: 80px auto;
  }

  .sign-up__title {
    font-weight: 800;
    font-size: 24px;
  }

  .sign-up__txt {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 18px;
  }

  .footer {
    height: 72px;
    background: #BADB61;
    color: rgb(16, 81, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }